<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.attendance.project.performance.mapper.PerfGatherDetailMapper">

    <resultMap type="PerfGatherDetail" id="PerfGatherDetailResult">
        <result property="detailId"    column="detail_id"    />
        <result property="overviewId"    column="overview_id"    />
        <result property="projectId"    column="project_id"    />
        <result property="categoryId"    column="category_id"    />
        <result property="itemId"    column="item_id"    />
        <result property="itemScore"    column="item_score"    />
        <result property="sourceType"    column="source_type"    />
        <result property="itemRemark"    column="item_remark"    />
        <result property="isRelated"    column="is_related"    />
        <result property="dataSource"    column="data_source"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />

        <result property="categoryName"    column="category_name"    />
        <result property="itemName"    column="item_name"    />
        <result property="ruleDesc"    column="rule_desc"    />
        <result property="scoreMin"    column="score_min"    />
        <result property="scoreMax"    column="score_max"    />
        <result property="weight"    column="weight"    />

        <result property="imagePath"    column="image_path"    />
    </resultMap>

    <sql id="selectPerfGatherDetailVo">
        select detail_id, overview_id, project_id, category_id, item_id, item_score, source_type, item_remark, is_related, data_source, create_time, update_time, image_path from perf_gather_detail
    </sql>

    <sql id="selectPerfGatherDetailVoAll">
        select pit.item_id, pic.project_id, pic.category_id, pic.score_type, pic.weight,
               pic.category_name, pit.item_name, pit.rule_desc, pit.score_min, pit.score_max,
               pgd.item_score, pgd.image_path
        from perf_ind_item pit left join perf_ind_category pic on pit.category_id = pic.category_id
                               left join perf_gather_detail pgd on pit.item_id = pgd.item_id
    </sql>

    <select id="selectPerfGatherDetailList" parameterType="PerfGatherDetail" resultMap="PerfGatherDetailResult">
        <include refid="selectPerfGatherDetailVoAll"/>
        <where>
            <if test="overviewId != null "> and pgd.overview_id = #{overviewId}</if>
            <if test="projectId != null "> and pic.project_id = #{projectId}</if>
            <if test="categoryId != null "> and pic.category_id = #{categoryId}</if>
            <if test="itemId != null "> and pit.item_id = #{itemId}</if>
            <if test="sourceType != null  and sourceType != ''"> and pic.source_type = #{sourceType}</if>
            <if test="isRelated != null  and isRelated != ''"> and pit.is_related = #{isRelated}</if>
        </where>
        order by pic.project_id asc, pic.sort asc, pit.sort asc
    </select>

    <select id="selectPerfGatherDetailByDetailId" parameterType="Long" resultMap="PerfGatherDetailResult">
        <include refid="selectPerfGatherDetailVo"/>
        where detail_id = #{detailId}
    </select>

    <insert id="insertPerfGatherDetail" parameterType="PerfGatherDetail" useGeneratedKeys="true" keyProperty="detailId">
        insert into perf_gather_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="overviewId != null">overview_id,</if>
            <if test="projectId != null">project_id,</if>
            <if test="categoryId != null">category_id,</if>
            <if test="itemId != null">item_id,</if>
            <if test="itemScore != null">item_score,</if>
            <if test="sourceType != null">source_type,</if>
            <if test="itemRemark != null">item_remark,</if>
            <if test="isRelated != null">is_related,</if>
            <if test="dataSource != null">data_source,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="imagePath != null">image_path,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="overviewId != null">#{overviewId},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="itemId != null">#{itemId},</if>
            <if test="itemScore != null">#{itemScore},</if>
            <if test="sourceType != null">#{sourceType},</if>
            <if test="itemRemark != null">#{itemRemark},</if>
            <if test="isRelated != null">#{isRelated},</if>
            <if test="dataSource != null">#{dataSource},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="imagePath != null">#{imagePath},</if>
         </trim>
    </insert>

    <update id="updatePerfGatherDetail" parameterType="PerfGatherDetail">
        update perf_gather_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="overviewId != null">overview_id = #{overviewId},</if>
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="itemId != null">item_id = #{itemId},</if>
            <if test="itemScore != null">item_score = #{itemScore},</if>
            <if test="sourceType != null">source_type = #{sourceType},</if>
            <if test="itemRemark != null">item_remark = #{itemRemark},</if>
            <if test="isRelated != null">is_related = #{isRelated},</if>
            <if test="dataSource != null">data_source = #{dataSource},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="imagePath != null">image_path = #{imagePath},</if>
        </trim>
        where detail_id = #{detailId}
    </update>

    <delete id="deletePerfGatherDetailByDetailId" parameterType="Long">
        delete from perf_gather_detail where detail_id = #{detailId}
    </delete>

    <delete id="deletePerfGatherDetailByDetailIds" parameterType="String">
        delete from perf_gather_detail where detail_id in
        <foreach item="detailId" collection="array" open="(" separator="," close=")">
            #{detailId}
        </foreach>
    </delete>

    <!-- 根据overviewId删除考核详情 -->
    <delete id="deletePerfGatherDetailByOverviewId" parameterType="PerfGatherDetail">
        DELETE FROM perf_gather_detail WHERE overview_id = #{overviewId}
    </delete>
</mapper>