<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.attendance.project.performance.mapper.PerfStatisticsDetailMapper">

    <resultMap type="PerfStatisticsDetail" id="PerfStatisticsDetailResult">
        <result property="detailId"    column="detail_id"    />
        <result property="overviewId"    column="overview_id"    />
        <result property="projectId"    column="project_id"    />
        <result property="categoryId"    column="category_id"    />
        <result property="itemId"    column="item_id"    />
        <result property="userId"    column="user_id"    />
        <result property="itemScore"    column="item_score"    />
        <result property="scoreType"    column="score_Type"    />
        <result property="itemRemark"    column="item_remark"    />
        <result property="isRelated"    column="is_related"    />
        <result property="dataSource"    column="data_source"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />

        <result property="categoryName"    column="category_name"    />
        <result property="itemName"    column="item_name"    />
        <result property="ruleDesc"    column="rule_desc"    />
        <result property="scoreMin"    column="score_min"    />
        <result property="scoreMax"    column="score_max"    />
        <result property="weight"    column="weight"    />

        <result property="imagePath"    column="image_path"    />

        <result property="gatherDate"    column="gather_date"    />
    </resultMap>

    <sql id="selectPerfStatisticsDetailVo">
        select detail_id, overview_id, project_id, category_id, item_id, user_id, item_score, score_type, item_remark, is_related, data_source, create_time, update_time, image_path, gather_date from perf_gather_detail
    </sql>

    <!-- 以item为基准查询出关联的考核category和采集detail -->
    <sql id="selectPerfStatisticsDetailVoAll">
        select pit.item_id, pic.project_id, pic.category_id, pic.score_type, pic.weight,
               pic.category_name, pit.item_name, pit.rule_desc, pit.score_min, pit.score_max,
               pgd.item_score, pgd.image_path
        from perf_ind_item pit left join perf_ind_category pic on pit.category_id = pic.category_id
                               left join perf_gather_detail pgd on pit.item_id = pgd.item_id
    </sql>

    <select id="selectPerfStatisticsDetailList" parameterType="PerfStatisticsDetail" resultMap="PerfStatisticsDetailResult">
        select pit.item_id, pic.project_id, pic.category_id, pic.score_type, pic.weight,
        pic.category_name, pit.item_name, pit.rule_desc, pit.score_min, pit.score_max,
        pgd.item_score, pgd.image_path, pgd.item_remark
        from perf_ind_item pit left join perf_ind_category pic on pit.category_id = pic.category_id
        left join
        (
        SELECT
            item_id,
            MAX(project_id) project_id,
            SUM(
                /*CASE score_type
                    WHEN 1 THEN IFNULL(item_score, 0)
                    WHEN 2 THEN IFNULL(-item_score, 0)
                    ELSE 0
                END*/
                item_score
            ) AS item_score, MAX(image_path) image_path,
            GROUP_CONCAT(
                DISTINCT NULLIF(TRIM(item_remark), '')
                ORDER BY gather_date
                SEPARATOR '；'
            ) AS item_remark
        FROM perf_gather_detail
        <where>
            <if test="projectId != null "> and project_id = #{projectId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="startDate != null  and startDate != ''"> and gather_date &gt;= #{startDate}</if>
            <if test="endDate != null  and endDate != ''"> and gather_date &lt;= #{endDate}</if>
        </where>
        GROUP BY item_id ORDER BY item_id asc
        ) pgd on pit.item_id = pgd.item_id
        <where>
            <if test="projectId != null "> and pic.project_id = #{projectId}</if>
        </where>
        order by pic.project_id asc, pic.sort asc, pit.sort asc
    </select>

</mapper>