
<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('绩效采集')" />
    <th:block th:include="include :: layout-latest-css" />
    <th:block th:include="include :: ztree-css" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: select2-css" />
    <style>
        .month-picker {
            width: 20px !important;
        }
        .month-picker .input-group-addon {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body class="gray-bg">
<div class="ui-layout-west">
    <div class="box box-main">
        <div class="box-header">
            <div class="box-title">
                <i class="fa icon-grid"></i> 组织机构
            </div>
            <div class="box-tools pull-right">
                <a type="button" class="btn btn-box-tool" href="#" onclick="dept()" title="管理部门"><i class="fa fa-edit"></i></a>
                <button type="button" class="btn btn-box-tool" id="btnExpand" title="展开" style="display:none;"><i class="fa fa-chevron-up"></i></button>
                <button type="button" class="btn btn-box-tool" id="btnCollapse" title="折叠"><i class="fa fa-chevron-down"></i></button>
                <button type="button" class="btn btn-box-tool" id="btnRefresh" title="刷新部门"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
        <div class="ui-layout-content">
            <div id="tree" class="ztree"></div>
        </div>
    </div>
</div>

<div class="ui-layout-center">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="user-form">
                    <input type="hidden" id="deptId" name="deptId">
                    <input type="hidden" id="parentId" name="parentId">
                    <div class="select-list">
                        <ul>
                            <li style="display: flex; align-items: center;">
                                <span style="margin-right: 5px;">采集日期：</span>
                                <div class="input-group date">
                                    <span class="month-picker input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" class="form-control" id="gatherDate" name="gatherDate"
                                           th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
                                           placeholder="选择日期" style="width: 120px;">
                                </div>
                            </li>
                            <li>
                                员工姓名：<input type="text" name="userName"/>
                            </li>
                            <li>
                                岗位：<select name="postId" id="postIdSelect" class="form-control">
                                <option value="">请选择岗位</option>
                            </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <!-- 新增工具栏：模板下载和导入按钮 -->
            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-warning" onclick="downloadTemplate()">
                    <i class="fa fa-download"></i> 模板
                </a>
                <a class="btn btn-warning" onclick="$.table.importExcel()">
                    <i class="fa fa-upload"></i> 导入
                </a>
            </div>

            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
</div>

<th:block th:include="include :: footer" />
<th:block th:include="include :: layout-latest-js" />
<th:block th:include="include :: ztree-js" />
<th:block th:include="include :: datetimepicker-js" />
<th:block th:include="include :: select2-js" />
<script th:inline="javascript">
var editFlag = [[${@permission.hasPermi('perf:gather:edit')}]];
var removeFlag = [[${@permission.hasPermi('perf:gather:remove')}]];
var prefix = ctx + "performance/gather";

var ranks = [[${@dict.getType('perf_rank_type')}]];
var posts = [[${@dict.getType('perf_post_type')}]];

$(function() {
    // 初始化月份选择器
    $("#gatherDate").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        //maxView: "decade",
        autoclose: true,
        //startView: 3,  // 从年视图开始
        minViewMode: 2 // 月份模式
    });

    var panehHidden = false;
    if ($(this).width() < 769) {
        panehHidden = true;
    }
    $('body').layout({ initClosed: panehHidden, west__size: 185 });
    // 回到顶部绑定
    if ($.fn.toTop !== undefined) {
        var opt = {
            win:$('.ui-layout-center'),
            doc:$('.ui-layout-center')
        };
        $('#scroll-up').toTop(opt);
    }
    loadPostData();
    // 进入页面时自动调用生成采集记录
    //generateGatherRecords();
    queryUserList();
    queryDeptTree();
});

// 自动调用生成采集记录
function generateGatherRecords() {
    $.ajax({
        url: ctx + "monitor/job/perfTask/generateGatherRecords",
        type: "post",
        success: function(result) {
            console.log("采集记录生成完成");
            // 可以根据返回结果决定是否显示消息给用户
            if(result.code === 0) {
                console.log(result.msg);
                // 生成完成后刷新列表
                $.table.refresh();
            }
        },
        error: function(xhr, status, error) {
            console.log("采集记录生成可能已有任务在执行或出现错误: ", error);
        }
    });
}

function loadPostData() {
    $.get(ctx + "performance/post/list2", function(result) {
        if (result.code === 0) {
            var postOptions = '<option value="">请选择岗位</option>';
            $.each(result.rows, function(index, item) {
                postOptions += '<option value="' + item.postId + '">' + item.postName + '</option>';
            });
            $("#postIdSelect").html(postOptions);
        }
    });
}

/**
 * 下载模板
 */
function downloadTemplate() {
    var data = $("#user-form").serialize();
    $. modal. loading("正在生成模板，请稍候...");
    $.post(prefix + "/exportTemplate", data, function (result) {
        if (result.code == web_status.SUCCESS) {
            window.location.href = ctx + "common/download?fileName=" + encodeURI(result.msg) + "&delete=" + true;
        } else if (result.code == web_status.WARNING) {
            $.modal.alertWarning(result.msg)
        } else {
            $. modal.alertError(result.msg);
        }
        $.modal.closeLoading();
    });
}

function queryUserList() {
    var options = {
        url: prefix + "/list",
        createUrl: prefix + "/add",
        importUrl: prefix + "/importData",
        removeUrl: prefix + "/remove",
        exportUrl: prefix + "/export",
        modalName: "绩效采集主",
        columns: [{
                checkbox: false,
                visible: false
            },
            /*{
                field: 'overviewId',
                title: '采集记录ID',
                visible: false
            },*/
            {
                field: 'userId',
                title: '员工ID',
                visible: false
            },
            {
                field: 'userName',
                title: '员工姓名'
            },
            {
                field: 'deptId',
                title: '部门ID',
                visible: false
            },
            {
                field: 'deptName',
                title: '所属单位'
            },
            {
                field: 'postName',
                title: '岗位'
            },
            {
                field: 'postId',
                title: '岗位ID',
                visible: false
            },
            /*{
                field: 'projectName',
                title: '考核项目'
            },*/
            {
                field: 'gatherDate',
                title: '采集日期'
            },
            {
                field: 'totalScore',
                title: '考核得分',
                formatter: function(value, row, index) {
                    return '<span class="score-' + (value >= 100 ? 'high' : value >= 80 ? 'medium' : 'low') + '">' + value + '</span>';
                }
            },
            /*{
                field: 'gatherStatusName',
                title: '采集状态'
            },*/
            {
                title: '操作',
                align: 'center',
                formatter: function(value, row, index) {
                    var actions = [];
                    actions.push('<a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="overviewGather(\''+row.userId+'\',\''+row.gatherDate+'\',\''+row.userName+'\')"><i class="fa fa-edit"></i>采集</a> ');
                    return actions.join('');
                }
            }]
    };
    $.table.init(options);
}

function queryDeptTree()
{
    var url = ctx + "system/dept/treeData";
    var options = {
        url: url,
        expandLevel: 2,
        onClick : zOnClick
    };
    $.tree.init(options);

    function zOnClick(event, treeId, treeNode) {
        $("#deptId").val(treeNode.id);
        $("#parentId").val(treeNode.pId);
        $.table.search();
    }
}

$('#btnExpand').click(function() {
    $._tree.expandAll(true);
    $(this).hide();
    $('#btnCollapse').show();
});

$('#btnCollapse').click(function() {
    $._tree.expandAll(false);
    $(this).hide();
    $('#btnExpand').show();
});

$('#btnRefresh').click(function() {
    queryDeptTree();
});

/* 用户管理-部门 */
function dept() {
    var url = ctx + "system/dept";
    $.modal.openTab("部门管理", url);
}

function overviewGather(userId,gatherDate,userName){
    var url = prefix + "/overviewGather?userId=" + userId + "&gatherDate=" + gatherDate;
    $.modal.openTab("绩效采集："+userName, url);

}

</script>
</body>
<!-- 导入区域 -->
<script id="importTpl" type="text/template">    <form enctype="multipart/form-data" class="mt20 mb10">
    <div class="col-xs-offset-1">
        <input type="file" id="file" name="file"/>
        <div class="mt10 pt5"></div>
        <font color="red" class="pull-left mt10">
            提示：仅允许导入"xls"或"xlsx"格式文件！
        </font>
    </div>
</form>
</script>
</html>