<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.attendance.project.system.line.mapper.FlowLineMapper">
    
    <resultMap type="FlowLine" id="FlowLineResult">
        <result property="id"    column="id"    />
        <result property="flowname"    column="flowname"    />
        <result property="flownode"    column="flownode"    />
        <result property="flowcode"    column="flowcode"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectFlowLineVo">
        select id, flowname, flownode, flowcode, create_by, create_time from sys_flow_line
    </sql>

    <!--获取每条申请的最新操作记录时间及状态，主要被挂载流程的业务记录引用-->
    <sql id="selectRecLineStatus">
        (SELECT rl.rec_id recid, rl.operate_status opstatus, mt.maxtime maxtime
        from sys_rec_line rl
        right join
        (SELECT rec_id recid, MAX(create_time) maxtime FROM `sys_rec_line` group by rec_id ) as mt
        on rl.rec_id = mt.recid and rl.create_time = mt.maxtime)
    </sql>

    <select id="selectFlowLineList" parameterType="FlowLine" resultMap="FlowLineResult">
        <include refid="selectFlowLineVo"/>
        <where>  
            <if test="flowname != null  and flowname != ''"> and flowname like concat('%', #{flowname}, '%')</if>
            <if test="flownode != null  and flownode != ''"> and flownode = #{flownode}</if>
        </where>
    </select>
    
    <select id="selectFlowLineById" parameterType="Long" resultMap="FlowLineResult">
        <include refid="selectFlowLineVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFlowLine" parameterType="FlowLine" useGeneratedKeys="true" keyProperty="id">
        insert into sys_flow_line
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="flowname != null and flowname != ''">flowname,</if>
            <if test="flownode != null">flownode,</if>
            <if test="flowcode != null">flowcode,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="flowname != null and flowname != ''">#{flowname},</if>
            <if test="flownode != null">#{flownode},</if>
            <if test="flowcode != null">#{flowcode},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateFlowLine" parameterType="FlowLine">
        update sys_flow_line
        <trim prefix="SET" suffixOverrides=",">
            <if test="flowname != null and flowname != ''">flowname = #{flowname},</if>
            <if test="flownode != null">flownode = #{flownode},</if>
            <if test="flowcode != null">flowcode = #{flowcode},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFlowLineById" parameterType="Long">
        delete from sys_flow_line where id = #{id}
    </delete>

    <delete id="deleteFlowLineByIds" parameterType="String">
        delete from sys_flow_line where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>