<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.attendance.project.financial.mapper.FinUserParamMapper">
    
    <resultMap type="FinUserParam" id="FinUserParamResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="paramRank"    column="param_rank"    />
        <result property="paramPost"    column="param_post"    />
        <result property="nggz"    column="nggz"    />
        <result property="gwgz"    column="gwgz"    />
        <result property="dzf"    column="dzf"    />
        <result property="sfhy"    column="sfhy"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="userName"    column="user_name"    />
        <result property="deptId"    column="dept_id"    />
        <result property="deptName"    column="dept_name"    />
        <result property="yhkh"    column="yhkh"    />
    </resultMap>

    <sql id="selectFinUserParamVo">
        select up.id, up.user_id, up.param_rank, up.param_post, up.nggz, up.gwgz, up.dzf, up.sfhy, up.create_by, up.create_time,
        u.user_name, u.dept_id, d.dept_name, up.yhkh
        from fin_user_param up
        left join sys_user u on up.user_id = u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
    </sql>

    <select id="selectFinUserParamList" parameterType="FinUserParam" resultMap="FinUserParamResult">
        <include refid="selectFinUserParamVo"/>
        <where>  
            <if test="userId != null "> and up.user_id = #{userId}</if>
            <if test="paramRank != null  and paramRank != ''"> and up.param_rank = #{paramRank}</if>
            <if test="paramPost != null  and paramPost != ''"> and up.param_post = #{paramPost}</if>
            <if test="nggz != null  and nggz != ''"> and up.nggz = #{nggz}</if>
            <if test="gwgz != null  and gwgz != ''"> and up.gwgz = #{gwgz}</if>
            <if test="dzf != null  and dzf != ''"> and up.dzf = #{dzf}</if>
            <if test="sfhy != null  and sfhy != ''"> and up.sfhy = #{sfhy}</if>
            <if test="deptName != null  and deptName != ''"> and d.dept_name like concat('%', #{deptName}, '%')</if>
            <if test="userName != null  and userName != ''"> and u.user_name like concat('%', #{userName}, '%')</if>
            <if test="ids != null  and ids != ''"> and up.user_id in
                <foreach item="id" collection="ids" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
        order by d.dept_id asc, up.user_id asc
    </select>

    <select id="selectFinUserParamById" parameterType="Long" resultMap="FinUserParamResult">
        <include refid="selectFinUserParamVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFinUserParam" parameterType="FinUserParam">
        insert into fin_user_param
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="paramRank != null">param_rank,</if>
            <if test="paramPost != null">param_post,</if>
            <if test="nggz != null">nggz,</if>
            <if test="gwgz != null">gwgz,</if>
            <if test="dzf != null">dzf,</if>
            <if test="sfhy != null">sfhy,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="yhkh != null">yhkh,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="paramRank != null">#{paramRank},</if>
            <if test="paramPost != null">#{paramPost},</if>
            <if test="nggz != null">#{nggz},</if>
            <if test="gwgz != null">#{gwgz},</if>
            <if test="dzf != null">#{dzf},</if>
            <if test="sfhy != null">#{sfhy},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="yhkh != null">#{yhkh},</if>
         </trim>
    </insert>

    <insert id="batchInsertFinUserParam" parameterType="list">
        INSERT INTO fin_user_param
        <foreach collection="list" item="item" index="index" separator=",">
            <if test="index == 0">
                <trim prefix="(" suffix=")" suffixOverrides=",">
                    <if test="item.id != null">id,</if>
                    <if test="item.userId != null">user_id,</if>
                    <if test="item.paramRank != null">param_rank,</if>
                    <if test="item.paramPost != null">param_post,</if>
                    <if test="item.nggz != null">nggz,</if>
                    <if test="item.gwgz != null">gwgz,</if>
                    <if test="item.dzf != null">dzf,</if>
                    <if test="item.sfhy != null">sfhy,</if>
                    <if test="item.createBy != null">create_by,</if>
                    <if test="item.createTime != null">create_time,</if>
                    <if test="item.yhkh != null">yhkh,</if>
                </trim>
            </if>
        </foreach>
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="item.id != null">#{item.id},</if>
                <if test="item.userId != null">#{item.userId},</if>
                <if test="item.paramRank != null">#{item.paramRank},</if>
                <if test="item.paramPost != null">#{item.paramPost},</if>
                <if test="item.nggz != null">#{item.nggz},</if>
                <if test="item.gwgz != null">#{item.gwgz},</if>
                <if test="item.dzf != null">#{item.dzf},</if>
                <if test="item.sfhy != null">#{item.sfhy},</if>
                <if test="item.createBy != null">#{item.createBy},</if>
                <if test="item.createTime != null">#{item.createTime},</if>
                <if test="item.yhkh != null">#{item.yhkh},</if>
            </trim>
        </foreach>
    </insert>

    <update id="updateFinUserParam" parameterType="FinUserParam">
        update fin_user_param
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="paramRank != null">param_rank = #{paramRank},</if>
            <if test="paramPost != null">param_post = #{paramPost},</if>
            <if test="nggz != null">nggz = #{nggz},</if>
            <if test="gwgz != null">gwgz = #{gwgz},</if>
            <if test="dzf != null">dzf = #{dzf},</if>
            <if test="sfhy != null">sfhy = #{sfhy},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="yhkh != null">yhkh = #{yhkh},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFinUserParamById" parameterType="Long">
        delete from fin_user_param where id = #{id}
    </delete>

    <delete id="deleteFinUserParamByIds" parameterType="String">
        delete from fin_user_param where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>