<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('在岗人员统计列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>

                        <li>
                            <label>部门：</label>
                            <input type="text" name="deptname" autocomplete="off"/>

                        </li>
                        <li>
                            <label>姓名：</label>
                            <input type="text" name="username" autocomplete="off"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>


        <div class="col-sm-12 select-table1 table-striped">
            <table id="bootstrap-table" ></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('atwork:working:edit')}]];
    var removeFlag = [[${@permission.hasPermi('atwork:working:remove')}]];
    var prefix = ctx + "atwork/working";

    $(function() {

        var options = {
            url: prefix + "/list",
            /*createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",*/
            /*sortName:"dept_id",
            sortOrder:"asc",*/
            modalName: "在岗人员统计",
            pagination:false,//取消分页
     /*       responseHandler: function (res) {
                return res;
            },*/
            columns: [
                {
                    field: 'deptname',
                    title: '部门',

                },
                {
                    field: 'username',
                    title: '姓名',

                },

                {
                    field: 'phone',
                    title: '联系方式',

                }]
        };
        $.table.init(options);
    });
    /*function myrefresh()
    {
        window.location.reload();
    };
    setTimeout('myrefresh()',60000); //指定60秒刷新一次*/
</script>
</body>
</html>