<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>时间轴</title>
	<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/animate.min.css" th:href="@{/css/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/style.min.css" th:href="@{/css/style.min.css}" rel="stylesheet"/>
</head>
<body class="gray-bg">
    <div class="row animated fadeInRight">
        <div class="ibox float-e-margins">
            <div id="ibox-content">
                 <div id="vertical-timeline" class="vertical-container light-timeline">
                 </div>
             </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var recLines = [[${recLines}]];
        console.info(recLines)
        $(document).ready(function(){
            $("#vertical-timeline").empty();
            var innerHtml = "";
            for (var i=0; i<recLines.length; i++){
                var recLine = recLines[i];
                if (i == 0 || recLine.lineIndex == 0){
                    innerHtml += '<div class="vertical-timeline-block">\n' +
                        '                         <div class="vertical-timeline-icon blue-bg">\n' +
                        '                             <i class="fa fa-file-text"></i>\n' +
                        '                         </div>\n' +
                        '                         <div class="vertical-timeline-content">\n' +
                        '                             <h2>'+recLine.createName+'</h2>\n' +
                        '                             <p>发起申请</p>\n' +
                        '                             <span class="vertical-date">发起时间 <br><small>'+recLine.createTime+'</small>\n' +
                        '                             </span>\n' +
                        '                         </div>\n' +
                        '                     </div>'
                }
                var operateStatus = '未处理';
                var operateContent = '';
                if (recLine.operateStatus == 1) {
                    operateStatus = '审核通过';
                    if (recLine.lineIndex == -1) operateStatus = '已处理';
                }
                if (recLine.operateStatus == 2) {
                    operateStatus = '审核退回';
                    operateContent = '退回原因：' + recLine.operateContent;
                }


                innerHtml += '<div class="vertical-timeline-block">\n' +
                    '                         <div class="vertical-timeline-icon lazur-bg">\n' +
                    '                             <i class="fa fa-user-md"></i>\n' +
                    '                         </div>\n' +
                    '                         <div class="vertical-timeline-content">\n' +
                    '                             <h2>'+recLine.operateName+'</h2>\n' +
                    '                             <p>'+operateStatus+'</p>\n' +
                    '                             <p>'+operateContent+'</p>\n' +
                    '                             <span class="vertical-date">处理时间 <br>'+(recLine.operateTime?recLine.operateTime:'暂未处理')+'</span>\n' +
                    '                         </div>\n' +
                    '                     </div>'
            }
            $("#vertical-timeline").append(innerHtml);
        });
    </script>
</body>
</html>
